@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto+Mono|Roboto+Slab|Roboto|Bahiana');

html,
body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

/** navbar **/
a.navbar-title {
  font-family: 'Bahiana', cursive;
  font-size: 80px;
} 

.navbar {
  padding: 10px;
  background: #00e3eb;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bottomContent {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  overflow-y: auto;
  padding: 20px;
  white-space: pre-line;
}

.topLeft {
  height: auto;
  text-align: center;
}

.bottom-navbar {
  padding-top: 40px;
}

.navbar-login {
  width: calc(100% - 20px);
  position: absolute;
  bottom: 20px;
}

/** containers **/

.homepageContainer {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.storyContainer, .indexContainer, .login-container {
  flex-direction: column;
  background: aliceblue;
  display: flex;
  width: 100%;
}

.topRight {
  display: flex;
  flex-shrink: 0;
}

.aboutDiv, .unavailable {
  text-align: center;
}

.aboutDiv, .showStory, .unavailable {
  background: aliceblue;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

.aboutDiv {
  font-size: 40px;
  padding: 100px 50px 40px 50px;
}

.feedbackDiv {
  font-size: 30px;
  padding: 100px 50px 40px 50px;
}

.storyIndex {
  overflow-y: auto;
  margin-left: 20px;
}


.login-container {
  display: flex;
  justify-content: center;
  text-align: left;
}


/** forms **/

.topRight form {
  width: 100%;
  padding: 10px;
}

form.storyInput textarea{
  font-size: 20px;
  resize: none;
  height: 200px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

form.storyInput textarea::placeholder {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;

}

.storyInput input[type=submit] {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.indexInput input[type=text], .indexInput input[type=submit] {
  padding: 20px;
  margin: 5px;
  font-size: 20px;
}
.indexInput input[type=submit] {
  border-radius: 5px;
}

.indexInput input[type=text] {
  width: 350px;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.login-form input {
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 10px 0 10px 0;
  border-radius: 3px;
}

.login-form label {
  text-align: left;
}

.login-form input[type=submit] {
  padding: 20px;
}

/** Links **/
.bottom-navbar a {
  display: block;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  text-align: center;
}

.navbar-login a {
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  text-align: center;
}

.bottom-navbar a, a:visited, a.navbar-title, .navbar-login a {
  text-decoration: none;
  color: black;
}

a:hover, a.navbar-title:hover {
  color: white;
}

.storyIndex a {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: black;
}

.storyIndex a:hover {
  color: #00e3eb;
}

.navbar-login a {
  padding-top: 10px;
}
/** text/misc **/

.showStoryTitle {
  padding: 10px;
  font-size: 30px;
}

.titles {
  padding: 10px;
}

.noStories {
  font-size: 40px;
  margin: 20px 0px 0px 20px;
}

.storyIndex ul {
  font-size: 40px;
  margin: 0;
}

.storyIndex li {
  padding: 10px;
}

.unavailable .error {
  font-size: 300px;
  margin: auto;
}

i.fa {
  font-size: 80px;
}

.errorDesc {
  font-size: 20px;
}

.indexContainer p {
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
}