@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Roboto+Mono|Roboto+Slab');

html,
body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

a.navbar-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
} 

.homepageContainer {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.navbar {
  padding: 10px;
  background: #ff69b4;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 250px;
}

.storyContainer {
  flex-direction: column;
  background: aliceblue;
  display: flex;
}

.topLeft {
  height: 200px;
}

.topRight {
  display: inline-flex;
  flex-shrink: 0;
}

.topRight form {
  width: 100%;
  padding: 10px;
}

form.storyInput textarea{
  font-size: 20px;
  resize: none;
  height: 200px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

form.storyInput textarea::placeholder {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;

}


.bottomContent {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  overflow-y: auto;
  padding: 20px;
}

.bottomNavbar a {
  display: block;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  text-align: center;
}

.bottomNavbar a, a:visited, a.navbar-title {
  text-decoration: none;
  color: black;
}

a:hover, a.navbar-title:hover {
  color: white;
}

input[type=submit] {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
